@if(car){
<div class="car-container">
    <div class="car-card">
        <img [src]="'data:image/jpeg;base64,' +     car.returnedImg" alt="{{car.title}}" class="car-image" />
        <div class="car-details">
            <div class="car-title-container">
                <div>
                    <h2 class="car-title">{{car.name}}</h2>
                </div>
            </div>
            <p class="car-description">{{car.description}}</p>
            <hr />
            <p class="car-info">
                Price:<strong> ${{car.price}} - </strong>
                Color:<strong> {{car.color}} - </strong>
                Transmission:<strong> {{car.transmission}} - </strong>
                Type:<strong> {{car.type}} - </strong>
                Year:<strong> {{car.year}} </strong>
            </p>
        </div>
    </div>
</div>
<div>
    <div class="car-bid-container">
        <div>
            <form [formGroup]="bidForm" class="car-bid-panel">
                <label>Your Bid :</label>
                <input type="number" formControlName="price" class="form-control" />
                <button class="btn btn-primary submit-button" (click)="onBid(bidForm.value)">Bid</button>
            </form>
        </div>
    </div>
</div>
}