body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5c5c5;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.car-card {
    display: flex;
    background-color: #fffefe;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 800px;
}

.edit-icon,
.trash-icon {
    display: none;
}

.car-card:hover .edit-icon,
.car-card:hover .trash-icon {
    display: block;
    opacity: 0.6;
    cursor: pointer;
}

.car-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.car-details {
    flex: 1;
}

.car-title {
    color: #007bff;
    margin: 0;
    font-size: 1.5em;
}

.car-description {
    margin: 10px 0;
    color: #555;
}

.car-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.no-data {
    color: rgb(223, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-title-container {
    display: flex;
    justify-content: space-between;
}

.edit-icon {
    margin-right: 20px;
    width: 15px;
    height: 15px;
}


.trash-icon {
    width: 15px;
    height: 15px;
}

.menu-icons {
    display: flex;
}

.car-bid-container {
    margin: auto;
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-bid-panel {
    width: 800px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 20px;
}

.form-control {
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.submit-button {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:active {
    background-color: #003d80;
}