.form-container {
    position: relative;
    top: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.high-lvl-loc {
    display: flex;
    gap: 20px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit-button:active {
    background-color: #003d80;
}


.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



//----------------------------------------------

.image-container {
    position: relative;
    width: 300px;
    /* Adjust as needed */
    height: 200px;
    /* Adjust as needed */
    border-radius: 20px;
    overflow: hidden;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.1s ease-in-out;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}

.hover-overlay .edit-icon {
    color: white;
    font-size: 24px;
    transform: rotate(90deg);
}

.image-container:hover .hover-overlay {
    opacity: 0.5;
}

.image-container:hover .image-preview {
    opacity: 0.5;
    /* Dim the image */
}

// .car-post-form {
//     display: flex;
// }