body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.car-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 800px;
}

.trash-icon {
    display: none;
}

.car-card:hover .trash-icon {
    display: block;
    opacity: 0.6;
}

.car-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.car-details {
    flex: 1;
}

.car-title {
    color: #007bff;
    margin: 0;
    font-size: 1.5em;
}

.car-description {
    margin: 10px 0;
    color: #555;
}

.car-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.no-data {
    color: rgb(223, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-title-container {
    display: flex;
    justify-content: space-between;
}

.trash-icon {
    width: 15px;
    height: 15px;
}